name: Main Workflow

on:
  push:
    branches: [ master ]

jobs:
  
  run-ci:
    name: Build Frontend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
#     - run: |
#         echo 'Make Directory'
#         mkdir downloadArtifacts
#     - run: |
#         echo 'Go inside downloadArtifacts and run npm install, npm run lint, and make'
#         cd downloadArtifacts
    - run: npm install
    - run: npm run lint
    - run: make
    - run: pwd
    - run: ls

  upload-artifact:
    name: Upload Artifact
    runs-on: ubuntu-latest
    needs: run-ci
    steps: 
    - name: Make a directory 
    - run: mkdir downloadArtifacts
#           cd downloadArtifacts
#           mkdir css
#           mkdir lang
#           mkdir images
#     - name: Store the artifacts inside the downloadArtifacts directory
#     - run: |
#           cp /home/runner/work/jitsi-meet/jitsi-meet/index.html /downloadArtifacts/
#           cp -r /home/runner/work/jitsi-meet/jitsi-meet/css/all.css /downloadArtifacts/css
#           cp -r /home/runner/work/jitsi-meet/jitsi-meet/images/* /downloadArtifacts/images
#           cp -r /home/runner/work/jitsi-meet/jitsi-meet/lang/* /downloadArtifacts/lang
#           cp -r /home/runner/work/jitsi-meet/jitsi-meet/libs /downloadArtifacts/
    - run: echo 'Copy complete'
    - run: echo ' Dummy'
#     - name: Use the upload artifact action
#       uses: actions/upload-artifact@v2
#       with:
#           name: download-build-files
#           path: downloadArtifacts
